@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100% !important;
  height: auto !important;
}

a, button, label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5%;
  margin: 0 auto;
  min-height: 252px;
  max-width: 1280px;
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0 9%;
  }
}

.up-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 49px;
  height: 49px;
  border: none;
  background: #6EBBD3;
  -webkit-transition: .2s;
  transition: .2s;
}

.up-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.up-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .up-btn {
    width: 59px;
    height: 59px;
  }
}

.up-btn-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-to-favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -100%;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 60px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #6EBBD3;
  border: 2px solid #fff;
  border-radius: 5px;
}

.show-notification {
  -webkit-animation: show-notification 3s;
          animation: show-notification 3s;
}

@-webkit-keyframes show-notification {
  0% {
    margin: 0 0 0 -100%;
  }
  20% {
    margin: 0 0 0 0;
  }
  100% {
    margin: 0 0 0 0;
  }
}

@keyframes show-notification {
  0% {
    margin: 0 0 0 -100%;
  }
  20% {
    margin: 0 0 0 0;
  }
  100% {
    margin: 0 0 0 0;
  }
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #15100d), color-stop(50%, #2c241d));
  background: linear-gradient(90deg, #15100d 50%, #2c241d 50%);
}

.header__bcg {
  background: url("../img/header-bcg.png") no-repeat center;
}

.header__opacity {
  background-color: rgba(31, 32, 33, 0.79);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@media (min-width: 768px) {
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 38px;
    line-height: 46px;
  }
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.nav {
  display: none;
  width: 100%;
  margin: 0 -100% 0 0;
}

.nav__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  margin: 20px 0 0 0;
  overflow: hidden;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__link--current {
  font-weight: 700;
  pointer-events: none;
}

.show-menu {
  display: block;
  -webkit-animation: show-menu 1s .3s forwards;
          animation: show-menu 1s .3s forwards;
}

.close-menu {
  display: block;
  -webkit-animation: close-menu 1s forwards;
          animation: close-menu 1s forwards;
}

@-webkit-keyframes show-menu {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@keyframes show-menu {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@-webkit-keyframes close-menu {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@keyframes close-menu {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@media (min-width: 768px) {
  .nav {
    display: block;
    margin: 0;
  }
  .nav__wrp {
    margin: 0 0 0 60px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 300px;
  }
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .nav__wrp {
    margin: 0 0 0 120px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 360px;
  }
  .nav__link {
    font-size: 18px;
    line-height: 22px;
  }
  .nav__link:hover, .nav__link:focus {
    color: #6EBBD3;
  }
  .nav__link:active {
    opacity: .5;
  }
  .nav__link--current {
    font-weight: 700;
  }
  .nav__link--current:hover, .nav__link--current:focus {
    color: #fff;
  }
  .nav__link--current:active {
    opacity: 1;
  }
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 auto;
  background: none;
  border: none;
  height: 18px;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.call {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
  margin: 0 0 0 auto;
}

.call__number {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}

.call__text {
  font-size: 10px;
  line-height: 14px;
  color: #fff;
}

@media (min-width: 768px) {
  .call {
    margin: 0 0 0 auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .call__number {
    font-size: 18px;
    line-height: 24px;
  }
  .call__text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  .call__number {
    font-size: 24px;
    line-height: 30px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .call__number:hover, .call__number:focus {
    color: #6EBBD3;
  }
  .call__text {
    font-size: 18px;
    line-height: 22px;
  }
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  font-size: 11px;
  line-height: 14px;
}

.sorting__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
}

.sorting__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.sorting__link:hover {
  color: #6EBBD3;
}

.sorting__link:hover .sorting__svg path {
  fill: #6EBBD3;
}

.sorting__svg {
  margin: 0 0 0 7px;
  width: 9px;
  height: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.toggle-sort {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  .sorting {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 25px 0;
    font-size: 13px;
    line-height: 16px;
  }
  .sorting__links {
    margin: 0 0 0 40px;
    width: 160px;
  }
  .sorting__svg {
    margin: 0 0 0 8px;
    width: 12px;
    height: 7px;
  }
}

@media (min-width: 1024px) {
  .sorting {
    margin: 38px 0;
    font-size: 18px;
    line-height: 22px;
  }
  .sorting__links {
    margin: 0 0 0 48px;
    width: 210px;
  }
  .sorting__svg {
    margin: 0 0 0 8px;
    width: 15px;
    height: 8px;
  }
}

.cats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .cats {
    margin: -1% -4px;
  }
  .cats__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .cats {
    margin: -2% -4px;
  }
}

.cat {
  position: relative;
  margin: 0 0 25px 0;
  max-width: 380px;
}

.cat__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat__s-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: '';
}

.cat__sale {
  display: none;
  top: 8%;
  left: 11%;
  width: 20%;
  min-width: 55px;
  height: 9%;
  min-height: 31px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  background-color: #e62d2d;
  border-radius: 10px;
}

.cat__like {
  padding: 0;
  top: 8%;
  right: 10%;
  width: 12%;
  min-width: 33px;
  height: 12%;
  min-height: 37px;
  background: none;
  border: none;
}

.cat__like:hover > .cat__like-svg path {
  opacity: 1;
}

.cat__like-svg path {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .5;
}

.cat__info {
  background: #f3f3f3;
  height: 150px;
}

.cat__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 8%;
  height: 100%;
}

.cat__title {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.cat__price {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  color: #000;
}

.cat__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  background: #6EBBD3;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.active-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sold {
  background: #1F2021;
  pointer-events: none;
}

.active-like {
  fill: #e62d2d;
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .cat {
    max-width: 32%;
    margin: 1% 4px;
  }
  .cat__sale {
    top: 6%;
    height: 8%;
  }
  .cat__like {
    top: 6%;
    height: 8%;
  }
  .cat__wrp {
    padding: 15px 8%;
    height: 100%;
  }
  .cat__info {
    height: 192px;
  }
  .cat__title {
    font-size: 22px;
    line-height: 26px;
  }
  .cat__price {
    font-size: 23px;
    line-height: 28px;
  }
  .cat__buy {
    height: 65px;
  }
}

@media (min-width: 1024px) {
  .cat {
    margin: 2% 4px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .cat:hover, .cat:focus {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .cat__sale {
    top: 7%;
  }
  .cat__like {
    top: 7%;
  }
  .cat__title {
    font-size: 24px;
    line-height: 30px;
  }
  .cat__price {
    font-size: 24px;
    line-height: 30px;
  }
}

.description {
  padding: 0 0 0 15px;
  border-left: 4px solid #6EBBD3;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.description__text {
  font-size: 8px;
  line-height: 11px;
}

.description__value {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .description__text {
    font-size: 12px;
    line-height: 14px;
  }
  .description__value {
    font-size: 16px;
    line-height: 20px;
  }
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.more__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 380px;
  height: 55px;
  color: #000;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #CACACA;
  background: #fff;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .more {
    height: 160px;
  }
  .more__btn {
    width: 33%;
    height: 65px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 1024px) {
  .more {
    height: 216px;
  }
  .more__btn {
    -webkit-transition: .2s;
    transition: .2s;
  }
  .more__btn:hover {
    background: #6EBBD3;
    color: #fff;
    border: none;
  }
  .more__btn:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.footer {
  margin: 25px 0;
}

@media (min-width: 768px) {
  .footer {
    margin: 0 0 45px 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin: 0 0 114px 0;
  }
}

.subscribe {
  padding: 0 7%;
  height: 312px;
  background: #1F2021;
  color: #fff;
}

.subscribe__title {
  margin: 20px 0 0 0;
  font-size: 28px;
  line-height: 39px;
}

.subscribe__text {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 16px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  margin: 35px 0 0 0;
}

.subscribe__email {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  padding: 0 0 0 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 17px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  outline: none;
}

.subscribe__email::-webkit-input-placeholder {
  color: #000;
}

.subscribe__email:-ms-input-placeholder {
  color: #000;
}

.subscribe__email::-ms-input-placeholder {
  color: #000;
}

.subscribe__email::placeholder {
  color: #000;
}

.subscribe__submit {
  margin: 25px 0 0 0;
  height: 40px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  border: none;
  background: #6EBBD3;
}

.subscribe__consent-news {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 0;
}

.subscribe__checkbox {
  display: none;
}

.subscribe__checkbox-label {
  padding: 0 0 0 25px;
  font-size: 14px;
  line-height: 17px;
}

.subscribe__checkbox-label::before {
  position: absolute;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #6EBBD3;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
}

.subscribe__checkbox-label::after {
  position: absolute;
  content: '';
  top: 1px;
  left: 7px;
  width: 3px;
  height: 7px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.subscribe__checkbox:checked + .subscribe__checkbox-label::before {
  background: #6EBBD3;
}

.subscribe__checkbox:checked + .subscribe__checkbox-label::after {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}

@media (min-width: 768px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__title {
    margin: 0;
    font-size: 32px;
    line-height: 43px;
  }
  .subscribe__text {
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 20px;
  }
  .subscribe__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 55%;
  }
  .subscribe__email {
    width: 55%;
    height: 50px;
  }
  .subscribe__submit {
    margin: 0;
    width: 43%;
    height: 50px;
  }
  .subscribe__consent-news {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .subscribe__title {
    margin: 0 30px 0 0;
    font-size: 48px;
    line-height: 59px;
  }
  .subscribe__text {
    margin: 26px 0 0 0;
    font-size: 28px;
    line-height: 28px;
  }
  .subscribe__form {
    height: 150px;
  }
  .subscribe__email {
    padding: 0 33px;
    height: 65px;
  }
  .subscribe__submit {
    height: 65px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .subscribe__submit:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
/*# sourceMappingURL=styles.css.map */