// Colors
$dark-color: #1F2021;
$lightblue-color: #6EBBD3;
$red-color: #e62d2d;
$cat-info-bcg-color: #f3f3f3;
$white-color: #fff;
$black-color: #000;

// Device width
$tablet-width: 768px;
$desktop-width: 1024px;