@import "_fonts.scss", 
        "_variables.scss", 
        "_scaffolding.scss", 
        "_up-btn.scss",
        "_add-to-favorites.scss",

        // Header SCSS styles
        "header/_header.scss", 
        "header/_logo.scss", 
        "header/_nav.scss",
        "header/_toggle.scss",
        "header/_call.scss", 

        // Main SCSS styles
        "main/_sorting.scss",
        "main/_cats.scss",
        "main/_cat.scss",
        "main/_description.scss",
        "main/_more.scss",

        // Footer SCSS styles
        "footer/_footer.scss",
        "footer/_subscribe.scss";