.nav {
  display: none;
  width: 100%;
  margin: 0 -100% 0 0;

  &__wrp {
    display: flex;
    flex-direction: row-reverse;
    order: 3;
    width: 100%;
    margin: 20px 0 0 0;

    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link {
    font-size: 14px;
    line-height: 18px;
    color: $white-color;
    transition: .2s;

    &--current {
      font-weight: 700;
      pointer-events: none;
    }
  }
}

.show-menu {
  display: block;
  animation: show-menu 1s .3s forwards;

}

.close-menu {
  display: block;
  animation: close-menu 1s forwards;
}

@keyframes show-menu {
  0% {margin: 0 -100% 0 0}
  100% {margin: 0}
}

@keyframes close-menu {
  0% {margin: 0}
  100% {margin: 0 -100% 0 0}
}

@media (min-width: $tablet-width) {
  .nav {
    display: block;
    margin: 0;

    &__wrp {
      margin: 0 0 0 60px;
      order: 0;
      width: 300px;
    }

    &__link {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    
    &__wrp {
      margin: 0 0 0 120px;
      order: 0;
      width: 360px;
    }

    &__link {
      font-size: 18px;
      line-height: 22px;

      &:hover,
      &:focus {
        color: $lightblue-color;
      }

      &:active {
        opacity: .5;
      }
    }

    &__link--current {
      font-weight: 700;
      
      &:hover,
      &:focus {
        color: $white-color;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}