.subscribe {
  padding: 0 7%;

  height: 312px;

  background: $dark-color;
  color: $white-color;

  &__title {
    margin: 20px 0 0 0;
    font-size: 28px;
    line-height: 39px;
  }

  &__text {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    height: 120px;

    margin: 35px 0 0 0;
  }

  &__email {
    order: -2;

    padding: 0 0 0 18px;
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    font-size: 14px;
    line-height: 17px;

    background: #FFFFFF;
    
    border-radius: 10px;
    border: none;
    outline: none;
    &::placeholder {
      color: $black-color;
    }
  }

  &__submit {
    margin: 25px 0 0 0;
    height: 40px;

    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $white-color;

    border-radius: 10px;
    border: none;
    background: $lightblue-color;
  }

  &__consent-news {
    order: -1;

    position: relative;

    display: flex;
    align-items: center;

    margin: 10px 0 0 0;
  }

  &__checkbox {
    display: none;

    &-label {
      padding: 0 0 0 25px;
      font-size: 14px;
      line-height: 17px;

      &::before {
        position: absolute;
        content: '';

        box-sizing: border-box;

        top: -1px;
        left: 0;

        width: 18px;
        height: 18px;

        background: #fff;
        border: 2px solid $lightblue-color;
        border-radius: 3px;
        transition: .3s;
      }

      &::after {
        position: absolute;
        content: '';

        top: 1px;
        left: 7px;

        width: 3px;
        height: 7px;

        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;

        transition: .3s;
        transform: scale(0);
      }
    }

    &:checked + .subscribe__checkbox-label::before {
      background: $lightblue-color;
    }

    &:checked + .subscribe__checkbox-label::after {
      transform: scale(1) rotate(45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin: 0;
      font-size: 32px;
      line-height: 43px;
    }

    &__text {
      margin: 10px 0 0 0;
      font-size: 18px;
      line-height: 20px;
    }

    &__form {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin: 0;

      width: 55%;
    }

    &__email {
      width: 55%;
      height: 50px;
    }

    &__submit {
      margin: 0;

      width: 43%;
      height: 50px;
    }

    &__consent-news {
      order: 0;

      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    &__title {
      margin: 0 30px 0 0;
      font-size: 48px;
      line-height: 59px;
    }
  
    &__text {
      margin: 26px 0 0 0;
      font-size: 28px;
      line-height: 28px;
    }

    &__form {
      height: 150px;
    }

    &__email {
      padding: 0 33px;

      height: 65px;
    }

    &__submit {
      height: 65px;
      transition: .2s;

      &:active {
        transform: scale(.95);
      }
    }
  }
}