.cat {
  position: relative;

  margin: 0 0 25px 0;

  max-width: 380px;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__s-l {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    content: '';
  }

  &__sale {
    display: none;
    top: 8%;
    left: 11%;

    width: 20%;
    min-width: 55px;

    height: 9%;
    min-height: 31px;

    color: $white-color;
    font-size: 14px;
    line-height: 18px;

    background-color: $red-color;
    border-radius: 10px;
  }

  &__like {
    padding: 0;

    top: 8%;
    right: 10%;

    width: 12%;
    min-width: 33px;

    height: 12%;
    min-height: 37px;

    background: none;
    border: none;

    &:hover > .cat__like-svg,
    &:focus > .cat__like-svg {
      path {
        opacity: 1;
      }
    }
  }

  &__like-svg {

    path {
      transition: .3s;
      opacity: .5;
    }
  }

  &__info {
    background: $cat-info-bcg-color;
    height: 150px;
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-sizing: border-box;

    padding: 10px 8%;
    height: 100%;
    
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: $black-color;
  }

  &__price {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: $black-color;
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 55px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $white-color;

    background: $lightblue-color;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.active-sale {
  display: flex;
}

.sold {
  background: $dark-color;
  cursor: auto;
}

.active-like {
  .cat__like-svg {
    path {
      opacity: 1;
      fill: $red-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .cat {
  
    max-width: 32%;
    margin: 1% 4px;

    &__sale {
      top: 6%;

      height: 8%;
    }
  
    &__like {
      top: 6%;

      height: 8%;
    }

    &__wrp {
      padding: 15px 8%;
      height: 100%;
      
    }

    &__info {
      height: 192px;
    }

    &__title {
      font-size: 22px;
      line-height: 26px;
    }
  
    &__price {
      font-size: 23px;
      line-height: 28px;
    }

    &__buy {
      height: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .cat {
  
    margin: 2% 4px;
    transition: .2s;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &__sale {
      top: 7%;
    }
  
    &__like {
      top: 7%;
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }
  
    &__price {
      font-size: 24px;
      line-height: 30px;
    }
  }
}